@import '/css/resets.css';

header {
    background-image: url('/assets/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 2rem 1.5rem;
}

h1 {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Fraunces';
    text-align: center;
    margin-block-start: 7rem;
    letter-spacing: 0.9rem;
    line-height: 4.5rem;
    font-weight: 900;
}

.arrow {
    display: block;
    margin: 20vh auto 0;

    animation: downArrow 0.6s infinite alternate ease-in-out;
}

@keyframes downArrow {
    0% { -webkit-transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(1rem);
    }
}

.main {
    height: auto;
}

.main--section-egg, .main--section-stand, .main--section-graphic, .main--section-photography {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.main--section-egg {
    background-image: url('/assets/mobile/image-egg.jpg');
}

.main--section-text {
    background-color: var(--white);
    text-align: center;
    color: var(--dark-desaturated-blue);
}

.main--section-text h2 {
    font-family: 'Fraunces';
    margin: 4rem auto 0;
    text-align: center;
    font-size: 3.5rem;
}

.main--section-text p {
    text-align: center;
    font-family: 'Barlow';
    margin: 2rem 2rem 0;
    color: var(--dark-graysh-blue);
}

.main--section-text p {
    font-family: 'Fraunces';
    margin: 4rem;
    font-weight: 900;
}

.brand a {
    text-decoration: underline solid 3px var(--yellow);
}

.main--section-brand a:visited {
    color: var(--dark-desaturated-blue);
}


.main--section-stand {
    background-image: url(/assets/mobile/image-stand.jpg);
}

.standout a {
    text-decoration: underline solid 3px var(--soft-red);
}

.main--section-graphic {
    background-image: url('/assets/mobile/image-graphic.jpg');
}

.graphic, .photography {
    padding-block-start: 60vh;
}

.graphic h2 {
    color: var(--dark-desaturated-cyan);
}

.graphic p {
    color: var(--dark-moderate-cyan);
    font-family: 'Barlow';
}

.main--section-photography {
    background-image: url('/assets/mobile/image-photography.jpg');
}

.photography h2 {
    color: var(--dark-blue);
}

.photography p {
    color: var(--dark-blue);
    font-family: 'Barlow';
}


.main--section-testimonial h2 {
    font-family: 'Fraunces';
    font-size: 1.8rem;
    text-align: center;
    margin-block-start: 5rem;
    color: var(--dark-desaturated-blue);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.main--section-testimonial section {
    margin: 4rem 3rem;
    text-align: center;
    font-family: 'Barlow';
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: space-around;
}

.main--section-testimonial section img {
    max-width: 20%;
    border-radius: 50%;
}

.main--section-testimonial section p:first-of-type {
    color: var(--vdark-graysh-blue);
    line-height: 3rem;
}

.main--section-testimonial section p:nth-of-type(2) {
    font-family: 'Fraunces';
    color: var(--dark-desaturated-blue);
    font-weight: 900;
}

.main--section-testimonial section p:last-of-type {
    font-size: 1.4rem;
    color: var(--graysh-blue);
}
